In [9]:
import pandas as pd
import requests

In [13]:
df = pd.read_csv("https://raw.githubusercontent.com/JeffSackmann/tennis_slam_pointbypoint/refs/heads/master/2015-ausopen-points.csv")

In [14]:
df

,match_id,ElapsedTime,SetNo,P1GamesWon,P2GamesWon,SetWinner,GameNo,GameWinner,PointNumber,PointWinner,...,ServeIndicator,Serve_Direction,Winner_FH,Winner_BH,ServingTo,P1TurningPoint,P2TurningPoint,ServeNumber,WinnerType,WinnerShotType
0,2015-ausopen-1101,0:00:00,1.0,0.0,0.0,0,1.0,0,0,0.0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,0
1,2015-ausopen-1101,0:00:00,1.0,0.0,0.0,0,1.0,0,1,1.0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0,0
2,2015-ausopen-1101,0:00:18,1.0,0.0,0.0,0,1.0,0,2,2.0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0,0
3,2015-ausopen-1101,0:00:50,1.0,0.0,0.0,0,1.0,0,3,1.0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0,F
4,2015-ausopen-1101,0:01:22,1.0,0.0,0.0,0,1.0,0,4,2.0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38304,2015-ausopen-2701,1:47:07,2.0,6.0,6.0,0,13.0,0,136,1.0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0,0
38305,2015-ausopen-2701,1:48:04,2.0,6.0,6.0,0,13.0,0,137,2.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0,0
38306,2015-ausopen-2701,1:48:48,2.0,6.0,6.0,0,13.0,0,138,1.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0,F
38307,2015-ausopen-2701,1:49:35,2.0,6.0,6.0,0,13.0,0,139,2.0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0,F
38308,2015-ausopen-2701,1:51:12,2.0,7.0,6.0,1,13.0,1,140,1.0,...,2,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0,0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38309 entries, 0 to 38308
Data columns (total 59 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   match_id            38309 non-null  object
 1   ElapsedTime         38309 non-null  object
 2   SetNo               38308 non-null  float64
 3   P1GamesWon          38308 non-null  float64
 4   P2GamesWon          38308 non-null  float64
 5   SetWinner           38309 non-null  int64
 6   GameNo              38308 non-null  float64
 7   GameWinner          38309 non-null  int64
 8   PointNumber         38309 non-null  int64
 9   PointWinner         38308 non-null  float64
 10  PointServer         38308 non-null  float64
 11  Speed_KMH           38308 non-null  float64
 12  Rally               0 non-null      float64
 13  P1Score             38308 non-null  object
 14  P2Score             38308 non-null  object
 15  P1Momentum          0 non-null      float64
 16  P2Momentum          0 non-null      float64
 17  P1PointsWon         38308 non-null  float64
 18  P2PointsWon         38308 non-null  float64
 19  P1Ace               38309 non-null  int64
 20  P2Ace               38309 non-null  int64
 21  P1Winner            38309 non-null  int64
 22  P2Winner            38309 non-null  int64
 23  P1DoubleFault       38309 non-null  int64
 24  P2DoubleFault       38309 non-null  int64
 25  P1UnfErr            38309 non-null  int64
 26  P2UnfErr            38309 non-null  int64
 27  P1NetPoint          38309 non-null  int64
 28  P2NetPoint          38309 non-null  int64
 29  P1NetPointWon       38309 non-null  int64
 30  P2NetPointWon       38309 non-null  int64
 31  P1BreakPoint        38309 non-null  int64
 32  P2BreakPoint        38309 non-null  int64
 33  P1BreakPointWon     38309 non-null  int64
 34  P2BreakPointWon     38309 non-null  int64
 35  P1FirstSrvIn        0 non-null      float64
 36  P2FirstSrvIn        0 non-null      float64
 37  P1FirstSrvWon       0 non-null      float64
 38  P2FirstSrvWon       0 non-null      float64
 39  P1SecondSrvIn       0 non-null      float64
 40  P2SecondSrvIn       0 non-null      float64
 41  P1SecondSrvWon      0 non-null      float64
 42  P2SecondSrvWon      0 non-null      float64
 43  P1ForcedError       0 non-null      float64
 44  P2ForcedError       0 non-null      float64
 45  History             38099 non-null  float64
 46  Speed_MPH           38308 non-null  float64
 47  P1BreakPointMissed  38309 non-null  int64
 48  P2BreakPointMissed  38309 non-null  int64
 49  ServeIndicator      38309 non-null  int64
 50  Serve_Direction     0 non-null      float64
 51  Winner_FH           0 non-null      float64
 52  Winner_BH           0 non-null      float64
 53  ServingTo           0 non-null      float64
 54  P1TurningPoint      0 non-null      float64
 55  P2TurningPoint      0 non-null      float64
 56  ServeNumber         38308 non-null  float64
 57  WinnerType          38309 non-null  object
 58  WinnerShotType      38309 non-null  object
dtypes: float64(31), int64(22), object(6)
memory usage: 17.2+ MB

In [15]:
df.describe()

,SetNo,P1GamesWon,P2GamesWon,SetWinner,GameNo,GameWinner,PointNumber,PointWinner,PointServer,Speed_KMH,...,P1BreakPointMissed,P2BreakPointMissed,ServeIndicator,Serve_Direction,Winner_FH,Winner_BH,ServingTo,P1TurningPoint,P2TurningPoint,ServeNumber
count,38308.000000,38308.000000,38308.000000,38309.000000,38308.000000,38309.000000,38309.000000,38308.000000,38308.000000,38308.000000,...,38309.000000,38309.000000,38309.000000,0.0,0.0,0.0,0.0,0.0,0.0,38308.000000
mean,2.129999,2.373290,2.357915,0.024485,5.574632,0.234958,102.980475,1.492404,1.494675,127.737444,...,0.047326,0.047065,1.494949,NaN,NaN,NaN,NaN,NaN,NaN,1.292263
std,1.071839,1.804253,1.834967,0.200828,3.229024,0.580120,71.682194,0.510745,0.510774,72.232097,...,0.212337,0.211780,0.510776,NaN,NaN,NaN,NaN,NaN,NaN,0.549144
min,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,45.000000,1.000000,1.000000,122.000000,...,0.000000,0.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
50%,2.000000,2.000000,2.000000,0.000000,5.000000,0.000000,91.000000,1.000000,2.000000,154.000000,...,0.000000,0.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
75%,3.000000,4.000000,4.000000,0.000000,8.000000,0.000000,149.000000,2.000000,2.000000,177.000000,...,0.000000,0.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
max,5.000000,10.000000,8.000000,2.000000,18.000000,2.000000,365.000000,2.000000,2.000000,242.000000,...,1.000000,1.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000

In [17]:
df.isnull().sum()

match_id                  0
ElapsedTime               0
SetNo                     1
P1GamesWon                1
P2GamesWon                1
SetWinner                 0
GameNo                    1
GameWinner                0
PointNumber               0
PointWinner               1
PointServer               1
Speed_KMH                 1
Rally                 38309
P1Score                   1
P2Score                   1
P1Momentum            38309
P2Momentum            38309
P1PointsWon               1
P2PointsWon               1
P1Ace                     0
P2Ace                     0
P1Winner                  0
P2Winner                  0
P1DoubleFault             0
P2DoubleFault             0
P1UnfErr                  0
P2UnfErr                  0
P1NetPoint                0
P2NetPoint                0
P1NetPointWon             0
P2NetPointWon             0
P1BreakPoint              0
P2BreakPoint              0
P1BreakPointWon           0
P2BreakPointWon           0
P1FirstSrvIn          38309
P2FirstSrvIn          38309
P1FirstSrvWon         38309
P2FirstSrvWon         38309
P1SecondSrvIn         38309
P2SecondSrvIn         38309
P1SecondSrvWon        38309
P2SecondSrvWon        38309
P1ForcedError         38309
P2ForcedError         38309
History                 210
Speed_MPH                 1
P1BreakPointMissed        0
P2BreakPointMissed        0
ServeIndicator            0
Serve_Direction       38309
Winner_FH             38309
Winner_BH             38309
ServingTo             38309
P1TurningPoint        38309
P2TurningPoint        38309
ServeNumber               1
WinnerType                0
WinnerShotType            0
dtype: int64

KeyError: 'player1'